# Python
__pycache__/
*.pyc
.venv/

# Datasets
datasets/
data/cache/
data/processed/
data/omaps
data/PianoYT
data_calib/
.cache/
.ruff_cache/

# Training outputs
checkpoints/
checkpoints_archive
logs/
out/
notebooks/
reports/
sweep_logs/
temp/
calibration_results.txt
calibration_summary.*

# Temp Files
configs/config_base.yaml
configs/config_full.yaml
configs/config_old.yaml
configs/config_nz.yml
scripts/train_w0.py
scripts/train_w1.py
src/data/omaps_dataset_nw.py

# IDEs
.vscode/
.idea/

# OS
.DS_Store

/data/
/data/
