task:
  name: piano_amt

metrics:
  prob_threshold: 0.2
  prob_threshold_onset: 0.2
  prob_threshold_offset: 0.2
  aggregation:
    mode: k_of_p
    k:
      onset: 1
      offset: 1
    top_k: 3
    tau_sum: 0.0

decoder:
  onset:
    open: 0.01
    hold: 0.0075
    min_on: 2
    merge_gap: 1
  offset:
    open: 0.015
    hold: 0.01
    min_off: 2
    merge_gap: 1
