priors:
  key_signature:
    enabled: true
    ref_head: onset
    apply_to: [onset, offset]
    window_sec: 3.0
    beta: 4.0
    rho_uniform: 0.8
    prior_strength: 0.5
    epsilon: 1.0e-08
    fps: null
    midi_low: 21
    midi_high: null
