model:
  name: TiViT-Piano
  backend: vivit
  head_mode: frame
  tiles: 3
  input_channels: 3
  transformer:
    type: ViViT
    input_patch_size: 16
    tube_size: 2
    d_model: 192
    num_heads: 3
    depth_temporal: 1
    depth_spatial: 1
    depth_global: 1
    global_tokens: 2
    mlp_ratio: 3.0
    dropout: 0.2

tiling:
  patch_w: 16
  tokens_split: auto
  overlap_tokens: 0
